<div>
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <h2 class="fw-bold mb-2 text-uppercase">Bienvenidos</h2>
            <h3>Project BETA ASP.NET Core.</h3>
            <!-- <p>FrontEnd: Desarrollado con Angular</p>
            <p>BackEnd: Desarrollado con ASP.NET Core</p> -->
            <b>Desarrollado por el Ing. Kevin Aldair Martinez Abarca</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Path: FrontEnd\Angular-CRUD-FRONTEND\src\app\components\home\home.component.html -->
