<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-12 col-lg-12 col-xl-12">
      <div class="card" style="border-radius: 1rem;background-color: transparent;">
        <div class="card-body p-5 text-center">
          <div class=" justify-content-md-center">
            <h1 class="error-title text-stroke text-transparent">404</h1>
            <p class="display-4 font-weight-boldest mb-12">La página que intentas solicitar no está en el servidor</p>

            <a [routerLink]="['/home']" class="btn btn-primary btn-lg">
              Regresar a la página principal
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Path: FrontEnd\Angular-CRUD-FRONTEND\src\app\components\page-not-found\page-not-found.component.html -->
